<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="static/img/favicon.png">

    <title>MCIAA Data Science</title>

    <!-- Morris Charts CSS -->
    <link href="static/css/plugins/morris.css" rel="stylesheet">
    <!-- Icons -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/simple-line-icons.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

     <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- GenesisUI main scripts -->

    <script src="static/js/app.js"></script>


    <!-- Morris Charts JavaScript -->
    <script src="static/js/plugins/morris/raphael.min.js"></script>
    <script src="static/js/plugins/morris/morris.min.js"></script>
    <script src="static/js/plugins/morris/morris-data.js"></script>

            <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="static/js/plugins/flot/jquery.flot.js"></script>
    <script src="static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="static/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="static/js/plugins/flot/flot-data.js"></script>


    <!-- Plugins and scripts required by this views -->

</body>

</html>